<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.shangpingruku.ShangpingrukuMapper">

    <select id="getShangpingrukuById" resultType="com.weichu.jinxiaocun.demo.bean.Shangpingruku" >
        select
                sprk_id as sprkId,
                sprk_bh as sprkBh,
                sprk_sj as sprkSj,
                kw_id as kwId,
                sprk_sohr as sprkSohr,
                sprk_czy as sprkCzy,
                sprk_shbz as sprkShbz,
                sprk_shr as sprkShr,
                sprk_shsj as sprkShsj,
                sprk_zje as sprkZje,
                sprk_bz as sprkBz,
                gys_id as gysId
        from shangpingruku
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getShangpingrukuListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Shangpingruku" parameterType="java.util.Map">
        select
                sprk_id as sprkId,
                sprk_bh as sprkBh,
                sprk_sj as sprkSj,
                kw_id as kwId,
                sprk_sohr as sprkSohr,
                sprk_czy as sprkCzy,
                sprk_shbz as sprkShbz,
                sprk_shr as sprkShr,
                sprk_shsj as sprkShsj,
                sprk_zje as sprkZje,
                sprk_bz as sprkBz,
                gys_id as gysId
        from shangpingruku
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="sprkId != null and sprkId!=''">
                        and sprk_id=#{sprkId}
                    </if>
                    <if test="sprkBh != null and sprkBh!=''">
                        and sprk_bh=#{sprkBh}
                    </if>
                    <if test="sprkSj != null and sprkSj!=''">
                        and sprk_sj=#{sprkSj}
                    </if>
                    <if test="kwId != null and kwId!=''">
                        and kw_id=#{kwId}
                    </if>
                    <if test="sprkSohr != null and sprkSohr!=''">
                        and sprk_sohr=#{sprkSohr}
                    </if>
                    <if test="sprkCzy != null and sprkCzy!=''">
                        and sprk_czy=#{sprkCzy}
                    </if>
                    <if test="sprkShbz != null and sprkShbz!=''">
                        and sprk_shbz=#{sprkShbz}
                    </if>
                    <if test="sprkShr != null and sprkShr!=''">
                        and sprk_shr=#{sprkShr}
                    </if>
                    <if test="sprkShsj != null and sprkShsj!=''">
                        and sprk_shsj=#{sprkShsj}
                    </if>
                    <if test="sprkZje != null and sprkZje!=''">
                        and sprk_zje=#{sprkZje}
                    </if>
                    <if test="sprkBz != null and sprkBz!=''">
                        and sprk_bz=#{sprkBz}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getShangpingrukuCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from shangpingruku
        <trim prefix="where" prefixOverrides="and | or">
                <if test="sprkId != null and sprkId!=''">
                    and sprk_id=#{sprkId}
                </if>
                <if test="sprkBh != null and sprkBh!=''">
                    and sprk_bh=#{sprkBh}
                </if>
                <if test="sprkSj != null and sprkSj!=''">
                    and sprk_sj=#{sprkSj}
                </if>
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
                <if test="sprkSohr != null and sprkSohr!=''">
                    and sprk_sohr=#{sprkSohr}
                </if>
                <if test="sprkCzy != null and sprkCzy!=''">
                    and sprk_czy=#{sprkCzy}
                </if>
                <if test="sprkShbz != null and sprkShbz!=''">
                    and sprk_shbz=#{sprkShbz}
                </if>
                <if test="sprkShr != null and sprkShr!=''">
                    and sprk_shr=#{sprkShr}
                </if>
                <if test="sprkShsj != null and sprkShsj!=''">
                    and sprk_shsj=#{sprkShsj}
                </if>
                <if test="sprkZje != null and sprkZje!=''">
                    and sprk_zje=#{sprkZje}
                </if>
                <if test="sprkBz != null and sprkBz!=''">
                    and sprk_bz=#{sprkBz}
                </if>
                <if test="gysId != null and gysId!=''">
                    and gys_id=#{gysId}
                </if>
        </trim>
    </select>

    <insert id="insertShangpingruku" parameterType="com.weichu.jinxiaocun.demo.bean.Shangpingruku">
        insert into shangpingruku(
                        sprk_id,
                        sprk_bh,
                        sprk_sj,
                        kw_id,
                        sprk_sohr,
                        sprk_czy,
                        sprk_shbz,
                        sprk_shr,
                        sprk_shsj,
                        sprk_zje,
                        sprk_bz,
                        gys_id)
        values(
                     #{sprkId},
                     #{sprkBh},
                     #{sprkSj},
                     #{kwId},
                     #{sprkSohr},
                     #{sprkCzy},
                     #{sprkShbz},
                     #{sprkShr},
                     #{sprkShsj},
                     #{sprkZje},
                     #{sprkBz},
                    #{gysId})
    </insert>

    <update id="updateShangpingruku" parameterType="com.weichu.jinxiaocun.demo.bean.Shangpingruku">
        update shangpingruku
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="sprkId != null and sprkId!=''">
                        sprk_id=#{sprkId},
                    </if>
                    <if test="sprkBh != null and sprkBh!=''">
                        sprk_bh=#{sprkBh},
                    </if>
                    <if test="sprkSj != null and sprkSj!=''">
                        sprk_sj=#{sprkSj},
                    </if>
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId},
                    </if>
                    <if test="sprkSohr != null and sprkSohr!=''">
                        sprk_sohr=#{sprkSohr},
                    </if>
                    <if test="sprkCzy != null and sprkCzy!=''">
                        sprk_czy=#{sprkCzy},
                    </if>
                    <if test="sprkShbz != null and sprkShbz!=''">
                        sprk_shbz=#{sprkShbz},
                    </if>
                    <if test="sprkShr != null and sprkShr!=''">
                        sprk_shr=#{sprkShr},
                    </if>
                    <if test="sprkShsj != null and sprkShsj!=''">
                        sprk_shsj=#{sprkShsj},
                    </if>
                    <if test="sprkZje != null and sprkZje!=''">
                        sprk_zje=#{sprkZje},
                    </if>
                    <if test="sprkBz != null and sprkBz!=''">
                        sprk_bz=#{sprkBz},
                    </if>
                    <if test="gysId != null and gysId!=''">
                        gys_id=#{gysId}
                    </if>
        </trim>
    </update>

    <delete id="deleteShangpingrukuById" parameterType="Long">
        delete from shangpingruku where id = #{id}
    </delete>
</mapper>