<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.diaobamingxi.DiaobamingxiMapper">

    <select id="getDiaobamingxiById" resultType="com.weichu.jinxiaocun.demo.bean.Diaobamingxi" >
        select
                dbmx_id as dbmxId,
                dbmx_dh as dbmxDh,
                sp_id as spId,
                dbmx_name as dbmxName,
                dw_id as dwId,
                dbmx_dj as dbmxDj,
                dbmx_sl as dbmxSl,
                dbmx_zje as dbmxZje,
                dbmx_bz as dbmxBz
        from diaobamingxi
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getDiaobamingxiListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Diaobamingxi" parameterType="java.util.Map">
        select
                dbmx_id as dbmxId,
                dbmx_dh as dbmxDh,
                sp_id as spId,
                dbmx_name as dbmxName,
                dw_id as dwId,
                dbmx_dj as dbmxDj,
                dbmx_sl as dbmxSl,
                dbmx_zje as dbmxZje,
                dbmx_bz as dbmxBz
        from diaobamingxi
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="dbmxId != null and dbmxId!=''">
                        and dbmx_id=#{dbmxId}
                    </if>
                    <if test="dbmxDh != null and dbmxDh!=''">
                        and dbmx_dh=#{dbmxDh}
                    </if>
                    <if test="spId != null and spId!=''">
                        and sp_id=#{spId}
                    </if>
                    <if test="dbmxName != null and dbmxName!=''">
                        and dbmx_name=#{dbmxName}
                    </if>
                    <if test="dwId != null and dwId!=''">
                        and dw_id=#{dwId}
                    </if>
                    <if test="dbmxDj != null and dbmxDj!=''">
                        and dbmx_dj=#{dbmxDj}
                    </if>
                    <if test="dbmxSl != null and dbmxSl!=''">
                        and dbmx_sl=#{dbmxSl}
                    </if>
                    <if test="dbmxZje != null and dbmxZje!=''">
                        and dbmx_zje=#{dbmxZje}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getDiaobamingxiCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from diaobamingxi
        <trim prefix="where" prefixOverrides="and | or">
                <if test="dbmxId != null and dbmxId!=''">
                    and dbmx_id=#{dbmxId}
                </if>
                <if test="dbmxDh != null and dbmxDh!=''">
                    and dbmx_dh=#{dbmxDh}
                </if>
                <if test="spId != null and spId!=''">
                    and sp_id=#{spId}
                </if>
                <if test="dbmxName != null and dbmxName!=''">
                    and dbmx_name=#{dbmxName}
                </if>
                <if test="dwId != null and dwId!=''">
                    and dw_id=#{dwId}
                </if>
                <if test="dbmxDj != null and dbmxDj!=''">
                    and dbmx_dj=#{dbmxDj}
                </if>
                <if test="dbmxSl != null and dbmxSl!=''">
                    and dbmx_sl=#{dbmxSl}
                </if>
                <if test="dbmxZje != null and dbmxZje!=''">
                    and dbmx_zje=#{dbmxZje}
                </if>
                <if test="dbmxBz != null and dbmxBz!=''">
                    and dbmx_bz=#{dbmxBz}
                </if>
        </trim>
    </select>

    <insert id="insertDiaobamingxi" parameterType="com.weichu.jinxiaocun.demo.bean.Diaobamingxi">
        insert into diaobamingxi(
                        dbmx_id,
                        dbmx_dh,
                        sp_id,
                        dbmx_name,
                        dw_id,
                        dbmx_dj,
                        dbmx_sl,
                        dbmx_zje,
                        dbmx_bz)
        values(
                     #{dbmxId},
                     #{dbmxDh},
                     #{spId},
                     #{dbmxName},
                     #{dwId},
                     #{dbmxDj},
                     #{dbmxSl},
                     #{dbmxZje},
                    #{dbmxBz})
    </insert>

    <update id="updateDiaobamingxi" parameterType="com.weichu.jinxiaocun.demo.bean.Diaobamingxi">
        update diaobamingxi
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="dbmxId != null and dbmxId!=''">
                        dbmx_id=#{dbmxId},
                    </if>
                    <if test="dbmxDh != null and dbmxDh!=''">
                        dbmx_dh=#{dbmxDh},
                    </if>
                    <if test="spId != null and spId!=''">
                        sp_id=#{spId},
                    </if>
                    <if test="dbmxName != null and dbmxName!=''">
                        dbmx_name=#{dbmxName},
                    </if>
                    <if test="dwId != null and dwId!=''">
                        dw_id=#{dwId},
                    </if>
                    <if test="dbmxDj != null and dbmxDj!=''">
                        dbmx_dj=#{dbmxDj},
                    </if>
                    <if test="dbmxSl != null and dbmxSl!=''">
                        dbmx_sl=#{dbmxSl},
                    </if>
                    <if test="dbmxZje != null and dbmxZje!=''">
                        dbmx_zje=#{dbmxZje},
                    </if>
                    <if test="dbmxBz != null and dbmxBz!=''">
                        dbmx_bz=#{dbmxBz}
                    </if>
        </trim>
    </update>

    <delete id="deleteDiaobamingxiById" parameterType="Long">
        delete from diaobamingxi where id = #{id}
    </delete>
</mapper>