<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.caigoutuihuo.CaigoutuihuoMapper">

    <select id="getCaigoutuihuoById" resultType="com.weichu.jinxiaocun.demo.bean.Caigoutuihuo" >
        select
                cgth_id as cgthId,
                cgth_bh as cgthBh,
                kw_id as kwId,
                cgth_thrq as cgthThrq,
                cgth_tkrq as cgthTkrq,
                cgth_zje as cgthZje,
                cgth_bz as cgthBz
        from caigoutuihuo
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCaigoutuihuoListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Caigoutuihuo" parameterType="java.util.Map">
        select
                cgth_id as cgthId,
                cgth_bh as cgthBh,
                kw_id as kwId,
                cgth_thrq as cgthThrq,
                cgth_tkrq as cgthTkrq,
                cgth_zje as cgthZje,
                cgth_bz as cgthBz
        from caigoutuihuo
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="cgthId != null and cgthId!=''">
                        and cgth_id=#{cgthId}
                    </if>
                    <if test="cgthBh != null and cgthBh!=''">
                        and cgth_bh=#{cgthBh}
                    </if>
                    <if test="kwId != null and kwId!=''">
                        and kw_id=#{kwId}
                    </if>
                    <if test="cgthThrq != null and cgthThrq!=''">
                        and cgth_thrq=#{cgthThrq}
                    </if>
                    <if test="cgthTkrq != null and cgthTkrq!=''">
                        and cgth_tkrq=#{cgthTkrq}
                    </if>
                    <if test="cgthZje != null and cgthZje!=''">
                        and cgth_zje=#{cgthZje}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCaigoutuihuoCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from caigoutuihuo
        <trim prefix="where" prefixOverrides="and | or">
                <if test="cgthId != null and cgthId!=''">
                    and cgth_id=#{cgthId}
                </if>
                <if test="cgthBh != null and cgthBh!=''">
                    and cgth_bh=#{cgthBh}
                </if>
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
                <if test="cgthThrq != null and cgthThrq!=''">
                    and cgth_thrq=#{cgthThrq}
                </if>
                <if test="cgthTkrq != null and cgthTkrq!=''">
                    and cgth_tkrq=#{cgthTkrq}
                </if>
                <if test="cgthZje != null and cgthZje!=''">
                    and cgth_zje=#{cgthZje}
                </if>
                <if test="cgthBz != null and cgthBz!=''">
                    and cgth_bz=#{cgthBz}
                </if>
        </trim>
    </select>

    <insert id="insertCaigoutuihuo" parameterType="com.weichu.jinxiaocun.demo.bean.Caigoutuihuo">
        insert into caigoutuihuo(
                        cgth_id,
                        cgth_bh,
                        kw_id,
                        cgth_thrq,
                        cgth_tkrq,
                        cgth_zje,
                        cgth_bz)
        values(
                     #{cgthId},
                     #{cgthBh},
                     #{kwId},
                     #{cgthThrq},
                     #{cgthTkrq},
                     #{cgthZje},
                    #{cgthBz})
    </insert>

    <update id="updateCaigoutuihuo" parameterType="com.weichu.jinxiaocun.demo.bean.Caigoutuihuo">
        update caigoutuihuo
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="cgthId != null and cgthId!=''">
                        cgth_id=#{cgthId},
                    </if>
                    <if test="cgthBh != null and cgthBh!=''">
                        cgth_bh=#{cgthBh},
                    </if>
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId},
                    </if>
                    <if test="cgthThrq != null and cgthThrq!=''">
                        cgth_thrq=#{cgthThrq},
                    </if>
                    <if test="cgthTkrq != null and cgthTkrq!=''">
                        cgth_tkrq=#{cgthTkrq},
                    </if>
                    <if test="cgthZje != null and cgthZje!=''">
                        cgth_zje=#{cgthZje},
                    </if>
                    <if test="cgthBz != null and cgthBz!=''">
                        cgth_bz=#{cgthBz}
                    </if>
        </trim>
    </update>

    <delete id="deleteCaigoutuihuoById" parameterType="Long">
        delete from caigoutuihuo where id = #{id}
    </delete>
</mapper>