<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.gongyingshang.GongyingshangMapper">

    <select id="getGongyingshangById" resultType="com.weichu.jinxiaocun.demo.bean.Gongyingshang" >
        select
                gys_id as gysId,
                khfl_id as khflId,
                gys_name as gysName,
                gys_dh as gysDh,
                gys_yx as gysYx,
                gys_lxr as gysLxr,
                gys_dz as gysDz,
                gys_ms as gysMs
        from gongyingshang
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getGongyingshangListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Gongyingshang" parameterType="java.util.Map">
       select * from gongyingshang
        <!--select-->
                <!--gys_id as gysId,-->
                <!--khfl_id as khflId,-->
                <!--gys_name as gysName,-->
                <!--gys_dh as gysDh,-->
                <!--gys_yx as gysYx,-->
                <!--gys_lxr as gysLxr,-->
                <!--gys_dz as gysDz,-->
                <!--gys_ms as gysMs-->
        <!--from gongyingshang-->
        <!--<trim prefix="where" prefixOverrides="and | or">-->
                    <!--<if test="gysId != null and gysId!=''">-->
                        <!--and gys_id=#{gysId}-->
                    <!--</if>-->
                    <!--<if test="khflId != null and khflId!=''">-->
                        <!--and khfl_id=#{khflId}-->
                    <!--</if>-->
                    <!--<if test="gysName != null and gysName!=''">-->
                        <!--and gys_name=#{gysName}-->
                    <!--</if>-->
                    <!--<if test="gysDh != null and gysDh!=''">-->
                        <!--and gys_dh=#{gysDh}-->
                    <!--</if>-->
                    <!--<if test="gysYx != null and gysYx!=''">-->
                        <!--and gys_yx=#{gysYx}-->
                    <!--</if>-->
                    <!--<if test="gysLxr != null and gysLxr!=''">-->
                        <!--and gys_lxr=#{gysLxr}-->
                    <!--</if>-->
                    <!--<if test="gysDz != null and gysDz!=''">-->
                        <!--and gys_dz=#{gysDz}-->
                    <!--</if>-->
        <!--</trim>-->
    </select>

    <select id="getGongyingshangCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from gongyingshang
        <trim prefix="where" prefixOverrides="and | or">
                <if test="gysId != null and gysId!=''">
                    and gys_id=#{gysId}
                </if>
                <if test="khflId != null and khflId!=''">
                    and khfl_id=#{khflId}
                </if>
                <if test="gysName != null and gysName!=''">
                    and gys_name=#{gysName}
                </if>
                <if test="gysDh != null and gysDh!=''">
                    and gys_dh=#{gysDh}
                </if>
                <if test="gysYx != null and gysYx!=''">
                    and gys_yx=#{gysYx}
                </if>
                <if test="gysLxr != null and gysLxr!=''">
                    and gys_lxr=#{gysLxr}
                </if>
                <if test="gysDz != null and gysDz!=''">
                    and gys_dz=#{gysDz}
                </if>
                <if test="gysMs != null and gysMs!=''">
                    and gys_ms=#{gysMs}
                </if>
        </trim>
    </select>

    <insert id="insertGongyingshang" parameterType="com.weichu.jinxiaocun.demo.bean.Gongyingshang">
        insert into gongyingshang(
                        gys_id,
                        khfl_id,
                        gys_name,
                        gys_dh,
                        gys_yx,
                        gys_lxr,
                        gys_dz,
                        gys_ms)
        values(
                     #{gysId},
                     #{khflId},
                     #{gysName},
                     #{gysDh},
                     #{gysYx},
                     #{gysLxr},
                     #{gysDz},
                    #{gysMs})
    </insert>

    <update id="updateGongyingshang" parameterType="com.weichu.jinxiaocun.demo.bean.Gongyingshang">
        update gongyingshang
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="gysId != null and gysId!=''">
                        gys_id=#{gysId},
                    </if>
                    <if test="khflId != null and khflId!=''">
                        khfl_id=#{khflId},
                    </if>
                    <if test="gysName != null and gysName!=''">
                        gys_name=#{gysName},
                    </if>
                    <if test="gysDh != null and gysDh!=''">
                        gys_dh=#{gysDh},
                    </if>
                    <if test="gysYx != null and gysYx!=''">
                        gys_yx=#{gysYx},
                    </if>
                    <if test="gysLxr != null and gysLxr!=''">
                        gys_lxr=#{gysLxr},
                    </if>
                    <if test="gysDz != null and gysDz!=''">
                        gys_dz=#{gysDz},
                    </if>
                    <if test="gysMs != null and gysMs!=''">
                        gys_ms=#{gysMs}
                    </if>
        </trim>
    </update>

    <delete id="deleteGongyingshangById" parameterType="Long">
        delete from gongyingshang where id = #{id}
    </delete>
</mapper>