<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.kuwei.KuweiMapper">

    <select id="getKuweiById" resultType="com.weichu.jinxiaocun.demo.bean.Kuwei" >
        select
                kw_id as kwId,
                kw_name as kwName,
                kw_sj as kwSj,
                kw_dz as kwDz,
                kw_qy as kwQy,
                yg_id as ygId
        from kuwei
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getKuweiListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Kuwei" parameterType="java.util.Map">
        select
                kw_id as kwId,
                kw_name as kwName,
                kw_sj as kwSj,
                kw_dz as kwDz,
                kw_qy as kwQy,
                yg_id as ygId
        from kuwei
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="kwId != null and kwId!=''">
                        and kw_id=#{kwId}
                    </if>
                    <if test="kwName != null and kwName!=''">
                        and kw_name=#{kwName}
                    </if>
                    <if test="kwSj != null and kwSj!=''">
                        and kw_sj=#{kwSj}
                    </if>
                    <if test="kwDz != null and kwDz!=''">
                        and kw_dz=#{kwDz}
                    </if>
                    <if test="kwQy != null and kwQy!=''">
                        and kw_qy=#{kwQy}
                    </if>
        </trim>
        <!--<if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">-->
            <!--limit #{beginPos},#{pageSize}-->
        <!--</if>-->
    </select>

    <select id="getKuweiCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from kuwei
        <trim prefix="where" prefixOverrides="and | or">
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
                <if test="kwName != null and kwName!=''">
                    and kw_name=#{kwName}
                </if>
                <if test="kwSj != null and kwSj!=''">
                    and kw_sj=#{kwSj}
                </if>
                <if test="kwDz != null and kwDz!=''">
                    and kw_dz=#{kwDz}
                </if>
                <if test="kwQy != null and kwQy!=''">
                    and kw_qy=#{kwQy}
                </if>
                <if test="ygId != null and ygId!=''">
                    and yg_id=#{ygId}
                </if>
        </trim>
    </select>

    <insert id="insertKuwei" parameterType="com.weichu.jinxiaocun.demo.bean.Kuwei">
        insert into kuwei(
                        kw_id,
                        kw_name,
                        kw_sj,
                        kw_dz,
                        kw_qy,
                        yg_id)
        values(
                     #{kwId},
                     #{kwName},
                     #{kwSj},
                     #{kwDz},
                     #{kwQy},
                    #{ygId})
    </insert>

    <update id="updateKuwei" parameterType="com.weichu.jinxiaocun.demo.bean.Kuwei">
        update kuwei
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId},
                    </if>
                    <if test="kwName != null and kwName!=''">
                        kw_name=#{kwName},
                    </if>
                    <if test="kwSj != null and kwSj!=''">
                        kw_sj=#{kwSj},
                    </if>
                    <if test="kwDz != null and kwDz!=''">
                        kw_dz=#{kwDz},
                    </if>
                    <if test="kwQy != null and kwQy!=''">
                        kw_qy=#{kwQy},
                    </if>
                    <if test="ygId != null and ygId!=''">
                        yg_id=#{ygId}
                    </if>
        </trim>
    </update>

    <delete id="deleteKuweiById" parameterType="Long">
        delete from kuwei where id = #{id}
    </delete>
</mapper>