<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.xiuzhengkucun.XiuzhengkucunMapper">

    <select id="getXiuzhengkucunById" resultType="com.weichu.jinxiaocun.demo.bean.Xiuzhengkucun" >
        select
                xzkc_id as xzkcId,
                xzkc_djh as xzkcDjh,
                sp_id as spId,
                xzkc_name as xzkcName,
                kw_id as kwId,
                xzkc_qsl as xzkcQsl,
                xzkc_ssl as xzkcSsl,
                xzkc_yksl as xzkcYksl,
                xzkc_cbdj as xzkcCbdj,
                xzkc_ykje as xzkcYkje,
                xzkc_cjr as xzkcCjr,
                xzkc_cjsj as xzkcCjsj
        from xiuzhengkucun
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getXiuzhengkucunListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Xiuzhengkucun" parameterType="java.util.Map">
        select
                xzkc_id as xzkcId,
                xzkc_djh as xzkcDjh,
                sp_id as spId,
                xzkc_name as xzkcName,
                kw_id as kwId,
                xzkc_qsl as xzkcQsl,
                xzkc_ssl as xzkcSsl,
                xzkc_yksl as xzkcYksl,
                xzkc_cbdj as xzkcCbdj,
                xzkc_ykje as xzkcYkje,
                xzkc_cjr as xzkcCjr,
                xzkc_cjsj as xzkcCjsj
        from xiuzhengkucun
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="xzkcId != null and xzkcId!=''">
                        and xzkc_id=#{xzkcId}
                    </if>
                    <if test="xzkcDjh != null and xzkcDjh!=''">
                        and xzkc_djh=#{xzkcDjh}
                    </if>
                    <if test="spId != null and spId!=''">
                        and sp_id=#{spId}
                    </if>
                    <if test="xzkcName != null and xzkcName!=''">
                        and xzkc_name=#{xzkcName}
                    </if>
                    <if test="kwId != null and kwId!=''">
                        and kw_id=#{kwId}
                    </if>
                    <if test="xzkcQsl != null and xzkcQsl!=''">
                        and xzkc_qsl=#{xzkcQsl}
                    </if>
                    <if test="xzkcSsl != null and xzkcSsl!=''">
                        and xzkc_ssl=#{xzkcSsl}
                    </if>
                    <if test="xzkcYksl != null and xzkcYksl!=''">
                        and xzkc_yksl=#{xzkcYksl}
                    </if>
                    <if test="xzkcCbdj != null and xzkcCbdj!=''">
                        and xzkc_cbdj=#{xzkcCbdj}
                    </if>
                    <if test="xzkcYkje != null and xzkcYkje!=''">
                        and xzkc_ykje=#{xzkcYkje}
                    </if>
                    <if test="xzkcCjr != null and xzkcCjr!=''">
                        and xzkc_cjr=#{xzkcCjr}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getXiuzhengkucunCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from xiuzhengkucun
        <trim prefix="where" prefixOverrides="and | or">
                <if test="xzkcId != null and xzkcId!=''">
                    and xzkc_id=#{xzkcId}
                </if>
                <if test="xzkcDjh != null and xzkcDjh!=''">
                    and xzkc_djh=#{xzkcDjh}
                </if>
                <if test="spId != null and spId!=''">
                    and sp_id=#{spId}
                </if>
                <if test="xzkcName != null and xzkcName!=''">
                    and xzkc_name=#{xzkcName}
                </if>
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
                <if test="xzkcQsl != null and xzkcQsl!=''">
                    and xzkc_qsl=#{xzkcQsl}
                </if>
                <if test="xzkcSsl != null and xzkcSsl!=''">
                    and xzkc_ssl=#{xzkcSsl}
                </if>
                <if test="xzkcYksl != null and xzkcYksl!=''">
                    and xzkc_yksl=#{xzkcYksl}
                </if>
                <if test="xzkcCbdj != null and xzkcCbdj!=''">
                    and xzkc_cbdj=#{xzkcCbdj}
                </if>
                <if test="xzkcYkje != null and xzkcYkje!=''">
                    and xzkc_ykje=#{xzkcYkje}
                </if>
                <if test="xzkcCjr != null and xzkcCjr!=''">
                    and xzkc_cjr=#{xzkcCjr}
                </if>
                <if test="xzkcCjsj != null and xzkcCjsj!=''">
                    and xzkc_cjsj=#{xzkcCjsj}
                </if>
        </trim>
    </select>

    <insert id="insertXiuzhengkucun" parameterType="com.weichu.jinxiaocun.demo.bean.Xiuzhengkucun">
        insert into xiuzhengkucun(
                        xzkc_id,
                        xzkc_djh,
                        sp_id,
                        xzkc_name,
                        kw_id,
                        xzkc_qsl,
                        xzkc_ssl,
                        xzkc_yksl,
                        xzkc_cbdj,
                        xzkc_ykje,
                        xzkc_cjr,
                        xzkc_cjsj)
        values(
                     #{xzkcId},
                     #{xzkcDjh},
                     #{spId},
                     #{xzkcName},
                     #{kwId},
                     #{xzkcQsl},
                     #{xzkcSsl},
                     #{xzkcYksl},
                     #{xzkcCbdj},
                     #{xzkcYkje},
                     #{xzkcCjr},
                    #{xzkcCjsj})
    </insert>

    <update id="updateXiuzhengkucun" parameterType="com.weichu.jinxiaocun.demo.bean.Xiuzhengkucun">
        update xiuzhengkucun
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="xzkcId != null and xzkcId!=''">
                        xzkc_id=#{xzkcId},
                    </if>
                    <if test="xzkcDjh != null and xzkcDjh!=''">
                        xzkc_djh=#{xzkcDjh},
                    </if>
                    <if test="spId != null and spId!=''">
                        sp_id=#{spId},
                    </if>
                    <if test="xzkcName != null and xzkcName!=''">
                        xzkc_name=#{xzkcName},
                    </if>
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId},
                    </if>
                    <if test="xzkcQsl != null and xzkcQsl!=''">
                        xzkc_qsl=#{xzkcQsl},
                    </if>
                    <if test="xzkcSsl != null and xzkcSsl!=''">
                        xzkc_ssl=#{xzkcSsl},
                    </if>
                    <if test="xzkcYksl != null and xzkcYksl!=''">
                        xzkc_yksl=#{xzkcYksl},
                    </if>
                    <if test="xzkcCbdj != null and xzkcCbdj!=''">
                        xzkc_cbdj=#{xzkcCbdj},
                    </if>
                    <if test="xzkcYkje != null and xzkcYkje!=''">
                        xzkc_ykje=#{xzkcYkje},
                    </if>
                    <if test="xzkcCjr != null and xzkcCjr!=''">
                        xzkc_cjr=#{xzkcCjr},
                    </if>
                    <if test="xzkcCjsj != null and xzkcCjsj!=''">
                        xzkc_cjsj=#{xzkcCjsj}
                    </if>
        </trim>
    </update>

    <delete id="deleteXiuzhengkucunById" parameterType="Long">
        delete from xiuzhengkucun where id = #{id}
    </delete>
</mapper>