<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.juese.JueseMapper">

    <select id="getJueseById" resultType="com.weichu.jinxiaocun.demo.bean.Juese" >
        select
                js_id as jsId,
                js_name as jsName,
                js_nameZh as jsNameZh
        from juese
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getJueseListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Juese" parameterType="java.util.Map">
        select
                js_id as jsId,
                js_name as jsName,
                js_nameZh as jsNameZh
        from juese
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="jsId != null and jsId!=''">
                        and js_id=#{jsId}
                    </if>
                    <if test="jsName != null and jsName!=''">
                        and js_name=#{jsName}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getJueseCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from juese
        <trim prefix="where" prefixOverrides="and | or">
                <if test="jsId != null and jsId!=''">
                    and js_id=#{jsId}
                </if>
                <if test="jsName != null and jsName!=''">
                    and js_name=#{jsName}
                </if>
                <if test="jsNameZh != null and jsNameZh!=''">
                    and js_nameZh=#{jsNameZh}
                </if>
        </trim>
    </select>

    <insert id="insertJuese" parameterType="com.weichu.jinxiaocun.demo.bean.Juese">
        insert into juese(
                        js_id,
                        js_name,
                        js_nameZh)
        values(
                     #{jsId},
                     #{jsName},
                    #{jsNameZh})
    </insert>

    <update id="updateJuese" parameterType="com.weichu.jinxiaocun.demo.bean.Juese">
        update juese
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="jsId != null and jsId!=''">
                        js_id=#{jsId},
                    </if>
                    <if test="jsName != null and jsName!=''">
                        js_name=#{jsName},
                    </if>
                    <if test="jsNameZh != null and jsNameZh!=''">
                        js_nameZh=#{jsNameZh}
                    </if>
        </trim>
    </update>

    <delete id="deleteJueseById" parameterType="Long">
        delete from juese where id = #{id}
    </delete>
</mapper>