<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.caigoudingdan.CaigoudingdanMapper">

    <select id="getCaigoudingdanById" resultType="com.weichu.jinxiaocun.demo.bean.Caigoudingdan" >
        select
                cgdd_id as cgddId,
                cgdd_bh as cgddBh,
                gys_id as gysId,
                yg_id as ygId,
                cgdd_ddrq as cgddDdrq,
                cgdd_jhrq as cgddJhrq,
                cgdd_dhrq as cgddDhrq,
                cgdd_yfk as cgddYfk,
                kw_id as kwId,
                cgdd_rk as cgddRk,
                cgdd_bz as cgddBz
        from caigoudingdan
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCaigoudingdanListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Caigoudingdan" parameterType="java.util.Map">
        select
                cgdd_id as cgddId,
                cgdd_bh as cgddBh,
                gys_id as gysId,
                yg_id as ygId,
                cgdd_ddrq as cgddDdrq,
                cgdd_jhrq as cgddJhrq,
                cgdd_dhrq as cgddDhrq,
                cgdd_yfk as cgddYfk,
                kw_id as kwId,
                cgdd_rk as cgddRk,
                cgdd_bz as cgddBz
        from caigoudingdan
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="cgddId != null and cgddId!=''">
                        and cgdd_id=#{cgddId}
                    </if>
                    <if test="cgddBh != null and cgddBh!=''">
                        and cgdd_bh=#{cgddBh}
                    </if>
                    <if test="gysId != null and gysId!=''">
                        and gys_id=#{gysId}
                    </if>
                    <if test="ygId != null and ygId!=''">
                        and yg_id=#{ygId}
                    </if>
                    <if test="cgddDdrq != null and cgddDdrq!=''">
                        and cgdd_ddrq=#{cgddDdrq}
                    </if>
                    <if test="cgddJhrq != null and cgddJhrq!=''">
                        and cgdd_jhrq=#{cgddJhrq}
                    </if>
                    <if test="cgddDhrq != null and cgddDhrq!=''">
                        and cgdd_dhrq=#{cgddDhrq}
                    </if>
                    <if test="cgddYfk != null and cgddYfk!=''">
                        and cgdd_yfk=#{cgddYfk}
                    </if>
                    <if test="kwId != null and kwId!=''">
                        and kw_id=#{kwId}
                    </if>
                    <if test="cgddRk != null and cgddRk!=''">
                        and cgdd_rk=#{cgddRk}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCaigoudingdanCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from caigoudingdan
        <trim prefix="where" prefixOverrides="and | or">
                <if test="cgddId != null and cgddId!=''">
                    and cgdd_id=#{cgddId}
                </if>
                <if test="cgddBh != null and cgddBh!=''">
                    and cgdd_bh=#{cgddBh}
                </if>
                <if test="gysId != null and gysId!=''">
                    and gys_id=#{gysId}
                </if>
                <if test="ygId != null and ygId!=''">
                    and yg_id=#{ygId}
                </if>
                <if test="cgddDdrq != null and cgddDdrq!=''">
                    and cgdd_ddrq=#{cgddDdrq}
                </if>
                <if test="cgddJhrq != null and cgddJhrq!=''">
                    and cgdd_jhrq=#{cgddJhrq}
                </if>
                <if test="cgddDhrq != null and cgddDhrq!=''">
                    and cgdd_dhrq=#{cgddDhrq}
                </if>
                <if test="cgddYfk != null and cgddYfk!=''">
                    and cgdd_yfk=#{cgddYfk}
                </if>
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
                <if test="cgddRk != null and cgddRk!=''">
                    and cgdd_rk=#{cgddRk}
                </if>
                <if test="cgddBz != null and cgddBz!=''">
                    and cgdd_bz=#{cgddBz}
                </if>
        </trim>
    </select>

    <insert id="insertCaigoudingdan" parameterType="com.weichu.jinxiaocun.demo.bean.Caigoudingdan">
        insert into caigoudingdan(
                        cgdd_id,
                        cgdd_bh,
                        gys_id,
                        yg_id,
                        cgdd_ddrq,
                        cgdd_jhrq,
                        cgdd_dhrq,
                        cgdd_yfk,
                        kw_id,
                        cgdd_rk,
                        cgdd_bz)
        values(
                     #{cgddId},
                     #{cgddBh},
                     #{gysId},
                     #{ygId},
                     #{cgddDdrq},
                     #{cgddJhrq},
                     #{cgddDhrq},
                     #{cgddYfk},
                     #{kwId},
                     #{cgddRk},
                    #{cgddBz})
    </insert>

    <update id="updateCaigoudingdan" parameterType="com.weichu.jinxiaocun.demo.bean.Caigoudingdan">
        update caigoudingdan
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="cgddId != null and cgddId!=''">
                        cgdd_id=#{cgddId},
                    </if>
                    <if test="cgddBh != null and cgddBh!=''">
                        cgdd_bh=#{cgddBh},
                    </if>
                    <if test="gysId != null and gysId!=''">
                        gys_id=#{gysId},
                    </if>
                    <if test="ygId != null and ygId!=''">
                        yg_id=#{ygId},
                    </if>
                    <if test="cgddDdrq != null and cgddDdrq!=''">
                        cgdd_ddrq=#{cgddDdrq},
                    </if>
                    <if test="cgddJhrq != null and cgddJhrq!=''">
                        cgdd_jhrq=#{cgddJhrq},
                    </if>
                    <if test="cgddDhrq != null and cgddDhrq!=''">
                        cgdd_dhrq=#{cgddDhrq},
                    </if>
                    <if test="cgddYfk != null and cgddYfk!=''">
                        cgdd_yfk=#{cgddYfk},
                    </if>
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId},
                    </if>
                    <if test="cgddRk != null and cgddRk!=''">
                        cgdd_rk=#{cgddRk},
                    </if>
                    <if test="cgddBz != null and cgddBz!=''">
                        cgdd_bz=#{cgddBz}
                    </if>
        </trim>
    </update>

    <delete id="deleteCaigoudingdanById" parameterType="Long">
        delete from caigoudingdan where id = #{id}
    </delete>
</mapper>