<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.kucun.KucunMapper">

    <select id="getKucunById" resultType="com.weichu.jinxiaocun.demo.bean.Kucun" >
        select
                kc_id as kcId,
                sp_id as spId,
                kw_id as kwId
        from kucun
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getKucunListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Kucun" parameterType="java.util.Map">
        select
                kc_id as kcId,
                sp_id as spId,
                kw_id as kwId
        from kucun
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="kcId != null and kcId!=''">
                        and kc_id=#{kcId}
                    </if>
                    <if test="spId != null and spId!=''">
                        and sp_id=#{spId}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getKucunCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from kucun
        <trim prefix="where" prefixOverrides="and | or">
                <if test="kcId != null and kcId!=''">
                    and kc_id=#{kcId}
                </if>
                <if test="spId != null and spId!=''">
                    and sp_id=#{spId}
                </if>
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
        </trim>
    </select>

    <insert id="insertKucun" parameterType="com.weichu.jinxiaocun.demo.bean.Kucun">
        insert into kucun(
                        kc_id,
                        sp_id,
                        kw_id)
        values(
                     #{kcId},
                     #{spId},
                    #{kwId})
    </insert>

    <update id="updateKucun" parameterType="com.weichu.jinxiaocun.demo.bean.Kucun">
        update kucun
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="kcId != null and kcId!=''">
                        kc_id=#{kcId},
                    </if>
                    <if test="spId != null and spId!=''">
                        sp_id=#{spId},
                    </if>
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId}
                    </if>
        </trim>
    </update>

    <delete id="deleteKucunById" parameterType="Long">
        delete from kucun where id = #{id}
    </delete>
</mapper>