<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.xiaoshoudingdanshangping.XiaoshoudingdanshangpingMapper">

    <select id="getXiaoshoudingdanshangpingById" resultType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanshangping" >
        select
                xsddsp_id as xsddspId,
                xsdh_id as xsdhId,
                sp_id as spId,
                xsddsp_sl as xsddspSl,
                xsddsp_jg as xsddspJg
        from xiaoshoudingdanshangping
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getXiaoshoudingdanshangpingListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanshangping" parameterType="java.util.Map">
        select
                xsddsp_id as xsddspId,
                xsdh_id as xsdhId,
                sp_id as spId,
                xsddsp_sl as xsddspSl,
                xsddsp_jg as xsddspJg
        from xiaoshoudingdanshangping
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="xsddspId != null and xsddspId!=''">
                        and xsddsp_id=#{xsddspId}
                    </if>
                    <if test="xsdhId != null and xsdhId!=''">
                        and xsdh_id=#{xsdhId}
                    </if>
                    <if test="spId != null and spId!=''">
                        and sp_id=#{spId}
                    </if>
                    <if test="xsddspSl != null and xsddspSl!=''">
                        and xsddsp_sl=#{xsddspSl}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getXiaoshoudingdanshangpingCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from xiaoshoudingdanshangping
        <trim prefix="where" prefixOverrides="and | or">
                <if test="xsddspId != null and xsddspId!=''">
                    and xsddsp_id=#{xsddspId}
                </if>
                <if test="xsdhId != null and xsdhId!=''">
                    and xsdh_id=#{xsdhId}
                </if>
                <if test="spId != null and spId!=''">
                    and sp_id=#{spId}
                </if>
                <if test="xsddspSl != null and xsddspSl!=''">
                    and xsddsp_sl=#{xsddspSl}
                </if>
                <if test="xsddspJg != null and xsddspJg!=''">
                    and xsddsp_jg=#{xsddspJg}
                </if>
        </trim>
    </select>

    <insert id="insertXiaoshoudingdanshangping" parameterType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanshangping">
        insert into xiaoshoudingdanshangping(
                        xsddsp_id,
                        xsdh_id,
                        sp_id,
                        xsddsp_sl,
                        xsddsp_jg)
        values(
                     #{xsddspId},
                     #{xsdhId},
                     #{spId},
                     #{xsddspSl},
                    #{xsddspJg})
    </insert>

    <update id="updateXiaoshoudingdanshangping" parameterType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanshangping">
        update xiaoshoudingdanshangping
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="xsddspId != null and xsddspId!=''">
                        xsddsp_id=#{xsddspId},
                    </if>
                    <if test="xsdhId != null and xsdhId!=''">
                        xsdh_id=#{xsdhId},
                    </if>
                    <if test="spId != null and spId!=''">
                        sp_id=#{spId},
                    </if>
                    <if test="xsddspSl != null and xsddspSl!=''">
                        xsddsp_sl=#{xsddspSl},
                    </if>
                    <if test="xsddspJg != null and xsddspJg!=''">
                        xsddsp_jg=#{xsddspJg}
                    </if>
        </trim>
    </update>

    <delete id="deleteXiaoshoudingdanshangpingById" parameterType="Long">
        delete from xiaoshoudingdanshangping where id = #{id}
    </delete>
</mapper>