<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.shangpingchuku.ShangpingchukuMapper">

    <select id="getShangpingchukuById" resultType="com.weichu.jinxiaocun.demo.bean.Shangpingchuku" >
        select
                spck_id as spckId,
                spck_bh as spckBh,
                spck_sj as spckSj,
                kw_id as kwId,
                spck_fhr as spckFhr,
                spck_czy as spckCzy,
                spck_shbz as spckShbz,
                spck_shr as spckShr,
                spck_shsj as spckShsj,
                spck_zje as spckZje,
                spck_bz as spckBz,
                kh_id as khId
        from shangpingchuku
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getShangpingchukuListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Shangpingchuku" parameterType="java.util.Map">
        select
                spck_id as spckId,
                spck_bh as spckBh,
                spck_sj as spckSj,
                kw_id as kwId,
                spck_fhr as spckFhr,
                spck_czy as spckCzy,
                spck_shbz as spckShbz,
                spck_shr as spckShr,
                spck_shsj as spckShsj,
                spck_zje as spckZje,
                spck_bz as spckBz,
                kh_id as khId
        from shangpingchuku
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="spckId != null and spckId!=''">
                        and spck_id=#{spckId}
                    </if>
                    <if test="spckBh != null and spckBh!=''">
                        and spck_bh=#{spckBh}
                    </if>
                    <if test="spckSj != null and spckSj!=''">
                        and spck_sj=#{spckSj}
                    </if>
                    <if test="kwId != null and kwId!=''">
                        and kw_id=#{kwId}
                    </if>
                    <if test="spckFhr != null and spckFhr!=''">
                        and spck_fhr=#{spckFhr}
                    </if>
                    <if test="spckCzy != null and spckCzy!=''">
                        and spck_czy=#{spckCzy}
                    </if>
                    <if test="spckShbz != null and spckShbz!=''">
                        and spck_shbz=#{spckShbz}
                    </if>
                    <if test="spckShr != null and spckShr!=''">
                        and spck_shr=#{spckShr}
                    </if>
                    <if test="spckShsj != null and spckShsj!=''">
                        and spck_shsj=#{spckShsj}
                    </if>
                    <if test="spckZje != null and spckZje!=''">
                        and spck_zje=#{spckZje}
                    </if>
                    <if test="spckBz != null and spckBz!=''">
                        and spck_bz=#{spckBz}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getShangpingchukuCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from shangpingchuku
        <trim prefix="where" prefixOverrides="and | or">
                <if test="spckId != null and spckId!=''">
                    and spck_id=#{spckId}
                </if>
                <if test="spckBh != null and spckBh!=''">
                    and spck_bh=#{spckBh}
                </if>
                <if test="spckSj != null and spckSj!=''">
                    and spck_sj=#{spckSj}
                </if>
                <if test="kwId != null and kwId!=''">
                    and kw_id=#{kwId}
                </if>
                <if test="spckFhr != null and spckFhr!=''">
                    and spck_fhr=#{spckFhr}
                </if>
                <if test="spckCzy != null and spckCzy!=''">
                    and spck_czy=#{spckCzy}
                </if>
                <if test="spckShbz != null and spckShbz!=''">
                    and spck_shbz=#{spckShbz}
                </if>
                <if test="spckShr != null and spckShr!=''">
                    and spck_shr=#{spckShr}
                </if>
                <if test="spckShsj != null and spckShsj!=''">
                    and spck_shsj=#{spckShsj}
                </if>
                <if test="spckZje != null and spckZje!=''">
                    and spck_zje=#{spckZje}
                </if>
                <if test="spckBz != null and spckBz!=''">
                    and spck_bz=#{spckBz}
                </if>
                <if test="khId != null and khId!=''">
                    and kh_id=#{khId}
                </if>
        </trim>
    </select>

    <insert id="insertShangpingchuku" parameterType="com.weichu.jinxiaocun.demo.bean.Shangpingchuku">
        insert into shangpingchuku(
                        spck_id,
                        spck_bh,
                        spck_sj,
                        kw_id,
                        spck_fhr,
                        spck_czy,
                        spck_shbz,
                        spck_shr,
                        spck_shsj,
                        spck_zje,
                        spck_bz,
                        kh_id)
        values(
                     #{spckId},
                     #{spckBh},
                     #{spckSj},
                     #{kwId},
                     #{spckFhr},
                     #{spckCzy},
                     #{spckShbz},
                     #{spckShr},
                     #{spckShsj},
                     #{spckZje},
                     #{spckBz},
                    #{khId})
    </insert>

    <update id="updateShangpingchuku" parameterType="com.weichu.jinxiaocun.demo.bean.Shangpingchuku">
        update shangpingchuku
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="spckId != null and spckId!=''">
                        spck_id=#{spckId},
                    </if>
                    <if test="spckBh != null and spckBh!=''">
                        spck_bh=#{spckBh},
                    </if>
                    <if test="spckSj != null and spckSj!=''">
                        spck_sj=#{spckSj},
                    </if>
                    <if test="kwId != null and kwId!=''">
                        kw_id=#{kwId},
                    </if>
                    <if test="spckFhr != null and spckFhr!=''">
                        spck_fhr=#{spckFhr},
                    </if>
                    <if test="spckCzy != null and spckCzy!=''">
                        spck_czy=#{spckCzy},
                    </if>
                    <if test="spckShbz != null and spckShbz!=''">
                        spck_shbz=#{spckShbz},
                    </if>
                    <if test="spckShr != null and spckShr!=''">
                        spck_shr=#{spckShr},
                    </if>
                    <if test="spckShsj != null and spckShsj!=''">
                        spck_shsj=#{spckShsj},
                    </if>
                    <if test="spckZje != null and spckZje!=''">
                        spck_zje=#{spckZje},
                    </if>
                    <if test="spckBz != null and spckBz!=''">
                        spck_bz=#{spckBz},
                    </if>
                    <if test="khId != null and khId!=''">
                        kh_id=#{khId}
                    </if>
        </trim>
    </update>

    <delete id="deleteShangpingchukuById" parameterType="Long">
        delete from shangpingchuku where id = #{id}
    </delete>
</mapper>