<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.danwei.DanweiMapper">

    <select id="getDanweiById" resultType="com.weichu.jinxiaocun.demo.bean.Danwei" >
        select
                dw_id as dwId,
                dw_name as dwName
        from danwei
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getDanweiListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Danwei" parameterType="java.util.Map">
        select
                dw_id as dwId,
                dw_name as dwName
        from danwei
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="dwId != null and dwId!=''">
                        and dw_id=#{dwId}
                    </if>
            <if test="dwName != null and dwName!=''">
                and dw_name=#{dwName}
            </if>
        </trim>
<!--        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>-->
    </select>

    <select id="getDanweiCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from danwei
        <trim prefix="where" prefixOverrides="and | or">
                <if test="dwId != null and dwId!=''">
                    and dw_id=#{dwId}
                </if>
                <if test="dwName != null and dwName!=''">
                    and dw_name=#{dwName}
                </if>
        </trim>
    </select>

    <insert id="insertDanwei" parameterType="com.weichu.jinxiaocun.demo.bean.Danwei">
        insert into danwei(
                        dw_id,
                        dw_name)
        values(
                     #{dwId},
                    #{dwName})
    </insert>

    <update id="updateDanwei" parameterType="com.weichu.jinxiaocun.demo.bean.Danwei">
        update danwei
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="dwId != null and dwId!=''">
                        dw_id=#{dwId},
                    </if>
                    <if test="dwName != null and dwName!=''">
                        dw_name=#{dwName}
                    </if>
        </trim>
    </update>

    <delete id="deleteDanweiById" parameterType="Long">
        delete from danwei where id = #{id}
    </delete>
</mapper>