<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.xiaoshoudingdanchuku.XiaoshoudingdanchukuMapper">

    <select id="getXiaoshoudingdanchukuById" resultType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanchuku" >
        select
                xsddck_id as xsddckId,
                xsddck_rq as xsddckRq,
                xsddck_shr as xsddckShr,
                xsddck_bh as xsddckBh,
                xsddck_shbz as xsddckShbz,
                xsddc_bz as xsddcBz,
                xsy_id as xsyId,
                sg_id as sgId,
                ck_id as ckId,
                xsddsp_id as xsddspId
        from xiaoshoudingdanchuku
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getXiaoshoudingdanchukuListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanchuku" parameterType="java.util.Map">
        select
                xsddck_id as xsddckId,
                xsddck_rq as xsddckRq,
                xsddck_shr as xsddckShr,
                xsddck_bh as xsddckBh,
                xsddck_shbz as xsddckShbz,
                xsddc_bz as xsddcBz,
                xsy_id as xsyId,
                sg_id as sgId,
                ck_id as ckId,
                xsddsp_id as xsddspId
        from xiaoshoudingdanchuku
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="xsddckId != null and xsddckId!=''">
                        and xsddck_id=#{xsddckId}
                    </if>
                    <if test="xsddckRq != null and xsddckRq!=''">
                        and xsddck_rq=#{xsddckRq}
                    </if>
                    <if test="xsddckShr != null and xsddckShr!=''">
                        and xsddck_shr=#{xsddckShr}
                    </if>
                    <if test="xsddckBh != null and xsddckBh!=''">
                        and xsddck_bh=#{xsddckBh}
                    </if>
                    <if test="xsddckShbz != null and xsddckShbz!=''">
                        and xsddck_shbz=#{xsddckShbz}
                    </if>
                    <if test="xsddcBz != null and xsddcBz!=''">
                        and xsddc_bz=#{xsddcBz}
                    </if>
                    <if test="xsyId != null and xsyId!=''">
                        and xsy_id=#{xsyId}
                    </if>
                    <if test="sgId != null and sgId!=''">
                        and sg_id=#{sgId}
                    </if>
                    <if test="ckId != null and ckId!=''">
                        and ck_id=#{ckId}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getXiaoshoudingdanchukuCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from xiaoshoudingdanchuku
        <trim prefix="where" prefixOverrides="and | or">
                <if test="xsddckId != null and xsddckId!=''">
                    and xsddck_id=#{xsddckId}
                </if>
                <if test="xsddckRq != null and xsddckRq!=''">
                    and xsddck_rq=#{xsddckRq}
                </if>
                <if test="xsddckShr != null and xsddckShr!=''">
                    and xsddck_shr=#{xsddckShr}
                </if>
                <if test="xsddckBh != null and xsddckBh!=''">
                    and xsddck_bh=#{xsddckBh}
                </if>
                <if test="xsddckShbz != null and xsddckShbz!=''">
                    and xsddck_shbz=#{xsddckShbz}
                </if>
                <if test="xsddcBz != null and xsddcBz!=''">
                    and xsddc_bz=#{xsddcBz}
                </if>
                <if test="xsyId != null and xsyId!=''">
                    and xsy_id=#{xsyId}
                </if>
                <if test="sgId != null and sgId!=''">
                    and sg_id=#{sgId}
                </if>
                <if test="ckId != null and ckId!=''">
                    and ck_id=#{ckId}
                </if>
                <if test="xsddspId != null and xsddspId!=''">
                    and xsddsp_id=#{xsddspId}
                </if>
        </trim>
    </select>

    <insert id="insertXiaoshoudingdanchuku" parameterType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanchuku">
        insert into xiaoshoudingdanchuku(
                        xsddck_id,
                        xsddck_rq,
                        xsddck_shr,
                        xsddck_bh,
                        xsddck_shbz,
                        xsddc_bz,
                        xsy_id,
                        sg_id,
                        ck_id,
                        xsddsp_id)
        values(
                     #{xsddckId},
                     #{xsddckRq},
                     #{xsddckShr},
                     #{xsddckBh},
                     #{xsddckShbz},
                     #{xsddcBz},
                     #{xsyId},
                     #{sgId},
                     #{ckId},
                    #{xsddspId})
    </insert>

    <update id="updateXiaoshoudingdanchuku" parameterType="com.weichu.jinxiaocun.demo.bean.Xiaoshoudingdanchuku">
        update xiaoshoudingdanchuku
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="xsddckId != null and xsddckId!=''">
                        xsddck_id=#{xsddckId},
                    </if>
                    <if test="xsddckRq != null and xsddckRq!=''">
                        xsddck_rq=#{xsddckRq},
                    </if>
                    <if test="xsddckShr != null and xsddckShr!=''">
                        xsddck_shr=#{xsddckShr},
                    </if>
                    <if test="xsddckBh != null and xsddckBh!=''">
                        xsddck_bh=#{xsddckBh},
                    </if>
                    <if test="xsddckShbz != null and xsddckShbz!=''">
                        xsddck_shbz=#{xsddckShbz},
                    </if>
                    <if test="xsddcBz != null and xsddcBz!=''">
                        xsddc_bz=#{xsddcBz},
                    </if>
                    <if test="xsyId != null and xsyId!=''">
                        xsy_id=#{xsyId},
                    </if>
                    <if test="sgId != null and sgId!=''">
                        sg_id=#{sgId},
                    </if>
                    <if test="ckId != null and ckId!=''">
                        ck_id=#{ckId},
                    </if>
                    <if test="xsddspId != null and xsddspId!=''">
                        xsddsp_id=#{xsddspId}
                    </if>
        </trim>
    </update>

    <delete id="deleteXiaoshoudingdanchukuById" parameterType="Long">
        delete from xiaoshoudingdanchuku where id = #{id}
    </delete>
</mapper>