<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/logo.png"/>
<title>进销存管理系统</title>
<link href="/css/bootstrap.css" tppabs="http://www.17sucai.com/preview/482277/2016-03-07/MMSS3/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/css/mmss.css" tppabs="http://www.17sucai.com/preview/482277/2016-03-07/MMSS3/css/mmss.css"/>
<link rel="stylesheet" href="/css/font-awesome.min.css" tppabs="http://www.17sucai.com/preview/482277/2016-03-07/MMSS3/css/font-awesome.min.css"/>
<!--[if lt IE 9]>
<script src="/js/html5shiv.min.js" tppabs="http://www.17sucai.com/preview/482277/2016-03-07/MMSS3/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js" tppabs="http://www.17sucai.com/preview/482277/2016-03-07/MMSS3/js/respond.min.js"></script>
<![endif]-->