<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.jinxiaocun.demo.mapper.ziyuan.ZiyuanMapper">

    <select id="getZiyuanById" resultType="com.weichu.jinxiaocun.demo.bean.Ziyuan" >
        select
                zy_id as zyId,
                zy_url as zyUrl,
                zy_name as zyName,
                zy_flId as zyFlId,
                zy_zt as zyZt
        from ziyuan
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getZiyuanListByMap" resultType="com.weichu.jinxiaocun.demo.bean.Ziyuan" parameterType="java.util.Map">
        select
                zy_id as zyId,
                zy_url as zyUrl,
                zy_name as zyName,
                zy_flId as zyFlId,
                zy_zt as zyZt
        from ziyuan
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="zyId != null and zyId!=''">
                        and zy_id=#{zyId}
                    </if>
                    <if test="zyUrl != null and zyUrl!=''">
                        and zy_url=#{zyUrl}
                    </if>
                    <if test="zyName != null and zyName!=''">
                        and zy_name=#{zyName}
                    </if>
                    <if test="zyFlId != null and zyFlId!=''">
                        and zy_flId=#{zyFlId}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getZiyuanCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from ziyuan
        <trim prefix="where" prefixOverrides="and | or">
                <if test="zyId != null and zyId!=''">
                    and zy_id=#{zyId}
                </if>
                <if test="zyUrl != null and zyUrl!=''">
                    and zy_url=#{zyUrl}
                </if>
                <if test="zyName != null and zyName!=''">
                    and zy_name=#{zyName}
                </if>
                <if test="zyFlId != null and zyFlId!=''">
                    and zy_flId=#{zyFlId}
                </if>
                <if test="zyZt != null and zyZt!=''">
                    and zy_zt=#{zyZt}
                </if>
        </trim>
    </select>

    <insert id="insertZiyuan" parameterType="com.weichu.jinxiaocun.demo.bean.Ziyuan">
        insert into ziyuan(
                        zy_id,
                        zy_url,
                        zy_name,
                        zy_flId,
                        zy_zt)
        values(
                     #{zyId},
                     #{zyUrl},
                     #{zyName},
                     #{zyFlId},
                    #{zyZt})
    </insert>

    <update id="updateZiyuan" parameterType="com.weichu.jinxiaocun.demo.bean.Ziyuan">
        update ziyuan
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="zyId != null and zyId!=''">
                        zy_id=#{zyId},
                    </if>
                    <if test="zyUrl != null and zyUrl!=''">
                        zy_url=#{zyUrl},
                    </if>
                    <if test="zyName != null and zyName!=''">
                        zy_name=#{zyName},
                    </if>
                    <if test="zyFlId != null and zyFlId!=''">
                        zy_flId=#{zyFlId},
                    </if>
                    <if test="zyZt != null and zyZt!=''">
                        zy_zt=#{zyZt}
                    </if>
        </trim>
    </update>

    <delete id="deleteZiyuanById" parameterType="Long">
        delete from ziyuan where id = #{id}
    </delete>
</mapper>